.register-container {
  display: flex;
  flex-direction: column;
}
.overlap-register {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;
  top: 20vh;
  align-items: center;
}
.header-background-register {
  position: absolute;
}
.RUready-register {
  position: relative;
  top: 42vh;
}
.footer-register {
  position: relative;
  top: 54vh;
}
.header-register {
  position: absolute;
  z-index: 100;
  display: flex;
  top: -7vh;
  align-items: center;
}
.register-text-image {
  height: 37px;
  width: 37px;
  margin-right: 1rem;
}
