:root {
  --primary: linear-gradient(
    298.74deg,
    #e91dfb 7.67%,
    #632dff 28.63%,
    #359eff 61.36%,
    #1bffe4 83.87%
  );
  --secondary: linear-gradient(277.9deg, #1f31d1 -5.62%, #2dc0ef 106.21%);
  --circle-pri: linear-gradient(
    315deg,
    #cc01ff 0%,
    #7d3efe 44.79%,
    #37e7ff 100%
  );
  --lines: linear-gradient(
    90deg,
    #ff68f9 0%,
    #3f88ff 22.4%,
    #52f5ff 53.12%,
    #6486ff 76.04%,
    #fd8bff 100%
  );
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  overflow-x: clip;
  background-color: #000;
  background-size: 100px 100px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  color: #ffff;
  margin: 0;
  padding: 0;
}
/*----------------------------------------------------------------------------------------Nav-bar*/
.nav {
  height: 3em;
  position: absolute;
  margin-top: 2em;
}
.nav-logo {
  max-height: 100%;
  width: auto;
  max-width: 40vw;
}
.nav-toggle {
  margin: 1em;
  max-width: 1rem;
}

/*----------------------------------------------------------------------------------------Hero*/
.lines {
  width: 100%;
  height: 3px;
  background: var(--lines);
  margin-top: 3px;
  transform: rotate(-11deg) translateY(-50px);
  box-shadow: 1px 1px
    linear-gradient(
      90deg,
      #ff68f9 0%,
      #3f88ff 22.4%,
      #52f5ff 53.12%,
      #6486ff 76.04%,
      #fd8bff 100%
    );
}

.hero-img {
  margin-top: 20px;
  width: 100%;
}

.hero-img-container {
  top: 0;
  right: 0;
  padding: 2em 0;
}

.hero-txt {
  width: auto;
  max-width: 100vw;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-p {
  font-size: 1.2rem;
  margin-top: 0;
}
.hero-h {
  font-size: 5rem;
  margin-bottom: 0;
}
.stats {
  width: 300px;
  font-size: 2rem;
  padding-top: 2em;
}
.stats-h h2 {
  font-size: 2rem;
}
.stats-p {
  font-size: 1rem;
}
/*----------------------------------------------------------------------------------page2*/
.card {
  background-color: #151515;
  margin: 10px;
  padding: 2em;
}
.page-2 {
  height: auto;
  min-height: 60vh;
  width: 100vw;
}
.page-2-h {
  font-size: 2rem;
  padding-left: 2em;
}
.page-2-cards {
  height: 100%;
  border: 1px solid white;
  padding: 2em 0;
  background-color: linear-gradient(
    0deg,
    #cc01ff 0%,
    #7d3efe 44.79%,
    #37e7ff 100%
  );
}
/*--------------------------------------------------------------------------------page3*/
.polygon {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.poly-i {
  width: 87%;
  height: 87%;
  object-fit: cover;
}
.page-3 {
  min-height: 100vh;
  width: 100vw;
}
.page-3-info {
  width: 100%;
  height: auto;
}
.prize-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68vw;
}
.prize-upper {
  width: 68vw;
  height: auto;
  margin-left: 20vw;
}
.prize-lower {
  width: 68vw;
  height: auto;
  /* padding-left: 10vw; */
  margin-left: 33vw;
}
.prize-1 {
  margin-right: 1.6rem;
}
.prize-1,
.prize-2,
.prize-3 {
  width: 33%;
  min-width: 250px;
}
.other-info-page-3 {
  background: linear-gradient(180deg, rgba(182, 103, 35, 0) 0%, #b89936 100%);
  /* background-color: red; */
  width: 100%;
  min-height: 35vh;
  height: auto;
  display: flex;
  /* background-image: url("/src/"); */
}
.rectangle {
  object-fit: cover;
  width: 100%;
}
.other-info-content-page-3 {
  width: 50%;
  /* background-color: aqua; */
  /* display: flex; */
}
.c-1,
.c-2,
.c-3 {
  /* flex-basis: 33%; */
  display: inline-block;
  width: 23%;
  margin-left: 6.43rem;
}
.c3 {
  margin-top: 1.3rem;
}
.content-info-desc {
  width: 50%;
  /* background-color: rosybrown; */
}
.money {
  font-size: 2.8rem;
  line-height: 82%;
  /* identical to box height, or 30px */

  color: #ffffff;
  margin-top: 0.9rem;
}
.rank {
  font-size: 1.35rem;
  /* identical to box height, or 15px */
  margin: 0px;
  color: #ffc738;
}
.desc {
  font-size: 1.4rem;
  line-height: 1.68rem;
  margin-top: 0px;

  color: rgba(255, 255, 255, 0.95);
}
.text {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.95);
  transform: translateX(-70%);
}

/*-----------------------------------------------------------------------------------------------------page4*/
.page-4 {
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100vw;
}
.page-4-info {
  /* display: flex; */
  position: absolute;
  height: 100vh;
  width: 60vw;
}
.other-info-page-4 {
  background: linear-gradient(180deg, rgba(74, 244, 142, 0) 0%, #2bc9b6 100%);
  width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 0%;
  padding-left: 2em;
}
.other-info-content-page-4 {
  width: 100%;
}
.polygon-page-4 {
  position: absolute;
  width: 50vw;
  height: 100vh;
  right: -10%;
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.poly-i-page-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-info-desc-page-4 {
  width: 70%;
}
.desc-page-4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.95);
}
/*-----------------------------------------------------------------------------------------------------RUready*/
.r-u-ready {
  width: 71%;
  /* max-width: 700px; */
  margin: 2em auto;
  padding: 1em;
  background: #151515;
}
.text-container {
  width: 103%;
}

.vic-icon-container {
  width: 10rem;
  height: 6rem;
  object-fit: cover;
}

.vic-icon {
  width: 78%;
}

/*-----------------------------------------------------------------------------------------contact-us*/
.form-container {
  /* background-color: red; */
  background: #151515;
  width: 60vw;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  border-radius: 0.8rem;
}
.form-header-text {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 121%;
  font-family: "Clash Display", sans-serif;
}
.form {
  height: 100%;
  width: 50%;
  padding-left: 3rem;
}
.form-header {
  width: 100%;
  height: 15%;
  display: flex;
  align-content: center;
}
.label {
  font-family: "Inter", sans-serif;
  color: white;
  display: block;
  /* margin-down: 1rem; */
  margin-bottom: 0.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
.input {
  font-family: "Inter", sans-serif;
  height: 2.6rem;
  margin-bottom: 0.8rem;
  width: 75%;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.08);
  /* z-index: 10; */
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.2rem;
  border: 0px;
  color: rgba(255, 255, 255, 0.2);
}
.m-icon {
  width: auto;
  height: 49%;
  margin-top: 1.3rem;
}
.form-button {
  background: linear-gradient(277.9deg, #1f31d1 -5.62%, #2dc0ef 106.21%);
  border-radius: 3.18rem;
  border: 0px;
  color: white;
  margin-top: 0.4rem;
  width: 16%;
  height: 7%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 110.5%;
}
.m-input {
  font-family: "Inter", sans-serif;
  height: 8.4rem;
  margin-bottom: 0.8rem;
  border-radius: 0.37rem;
  width: 75%;
  background: rgba(255, 255, 255, 0.08);
  /* z-index: 10; */
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.2rem;
  border: 0px;
  color: rgba(255, 255, 255, 0.2);
}
.info-left {
  height: 100%;
  width: 50%;
  padding-left: 3rem;
  border-right: 0.06rem solid #2c2c2c;
}
.hand {
  margin-top: 0.06rem;
}

.contact {
  color: white;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.s-media-container {
  display: flex;
  margin: 1.3rem 0px 0px 1.9rem;
}
.s-media {
  height: 3.75rem;
  width: 3.75rem;
  /* background-color: #bbb; */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-basis: 9%; */
  margin-right: 1.3rem;
}
.phone-container {
  height: 3.75rem;
  width: 3.75rem;
  /* background-color: #bbb; */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 1.3rem 0px 1.9rem;
}
.contact {
  color: white;
  margin-left: 1rem;
  margin-top: 1.5rem;
  display: flex;
}
.phone-no {
  margin-top: 0.4rem;
}
.contact-details {
  margin-top: 0.45rem;
}
.social {
  margin-top: 1.9rem;
}
.social li {
  line-height: 0;
}
/*-----------------------------------------------------------------------------------------Register*/

.form2-container {
  /* background-color: red; */
  /*margin: 10;*/
  border-radius: 0.375rem;
  /* padding: 3%; */
  background: #151515;
  width: 95%;
  max-width: 350px;
  min-width: 300px;
  height: auto;

  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(min(15%, 60px));
  height: 89vh;
}
.form2-header-text {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 121%;
  font-family: "Clash Display", sans-serif;
}

.form2 {
  height: auto;
  width: 76%;
  /*width: 50%;*/
  /*padding-left: 3rem;*/
}
.form2-header {
  width: 100%;
  height: 15%;
  display: flex;
  align-content: center;
}
.label-form-2 {
  font-family: "Inter", sans-serif;
  color: white;
  display: block;
  margin-bottom: 0.2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.688rem;
  line-height: 1.063rem;
}
.input-form-2 {
  font-family: "Inter", sans-serif;
  height: 2.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  /* z-index: 10; */
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.188rem;
  border: 0px;
  color: rgba(255, 255, 255, 0.2);
  border-radius: 0.19rem;
}
.form-face {
  /*width: 5rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-icon {
  width: 5rem;
}
.field {
}
.form2-button {
  background: linear-gradient(277.9deg, #1f31d1 -5.62%, #2dc0ef 106.21%);
  border-radius: 3.188rem;
  border: 0px;
  color: white;
  margin-top: 0.4rem;
  width: 32%;
  height: 6%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 110.5%;
  /*padding-left: 25%;*/
  padding-top: 0.32rem;
  /* margin-left: 10%; */
}

/*--------------------------------------------------------------------------------------------------cards*/
/*--------------------------------------------------------------------------------------------------sponsors*/

.sponsors {
  width: 90%;
  margin: 2em auto;
}
.sponsor-img {
  opacity: 0.2;
  min-width: 60px;
}

/*----------------------------------------------------------------------------------------footer*/
.footer {
  width: 100%;
  background: #151515;
  position: absolute;
  padding: 1em 5%;
}
.footer-logo {
  max-width: 100px;
}
.footer-links {
  margin-right: 10%;
}
/*---------------------------------------------------------------------------------------------dashboard*/
.dashboard {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  border-radius: 10px;
  background: #151515;
  width: auto;
  max-width: 800px;
  height: auto;
  transform: translateY(min(10%, 50px));
}
.dashboard-container {
}
.db-bg {
  width: 100vw;
  height: auto;
  max-height: 35vh;
  position: absolute;
  top: 0;
  z-index: -100;
}
.db-elements {
  padding: 0 2em;
}
.heading {
  border-bottom: 1px solid #2c2c2c;
  padding: 1em 2em;
}
.side-nav {
  width: 300px;
  padding: 2em;
  margin: 0 auto;
  border-right: 1px solid #2c2c2c;
  text-align: center;
}
.main-area {
  width: 100%;
}
.ur-referals {
  padding: 2em 0;
}
.referals h2 {
  border-bottom: 1px solid #2c2c2c;
  padding: 1rem;
}
.point-table {
  width: 250px;
  background: rgba(255, 255, 255, 0.08);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 6px;
}
.point-table ul li {
  line-height: 0;
}
.referal-list {
  width: 100%;
  min-height: 6em;
  border: 2px dashed #2c2c2c;
  margin: 0 auto;
}
.guide {
  /* display: none;*/
}
.guide-tab {
  width: 100%;
}
.guide-toggle img {
  max-width: 1rem;
}

.poster-card {
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.feedback-txt {
  min-width: 200px;
  width: auto;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  color: white;
}

/*------utilities-----*/
.container {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  background: transparent;
}
.btn {
  padding: 1rem;
  border-radius: 2em;
  border: 2px solid white;
  margin: 1em;
  font-size: 1rem;
}
.btn-pri {
  padding: 1rem;
  border-radius: 2em;
  margin: 1em;
  background: var(--primary);
  font-size: 1rem;
}
.btn-sec {
  padding: 1rem;
  border-radius: 2em;
  background-color: var(--secondary);
  margin: 1em;
  font-size: 1rem;
}
.btn-container {
  width: 17%;
  display: flex;
  justify-content: flex-end;
}
.nav-btn {
  border-radius: 2rem;
  font-size: 0.5rem;
  padding: 0 0.5rem;
  background-color: #ffff;
}

.dim {
  opacity: 0.5;
}

/*-----------------------------flex*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-white {
  color: #ffff;
}
.txt-black {
  color: #000;
}

/*---------------------------------------------------------------------------------------Fonts*/
.inter-r {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.inter-m {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.inter-sb {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.exo-b {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}
.clash-el {
  font-family: "Clash Display", sans-serif;
  font-weight: 200;
}
.clash-l {
  font-family: "Clash Display", sans-serif;
  font-weight: 300;
}
.clash-r {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
}
.clash-m {
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
}
.clash-sb {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
}
.clash-b {
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
}
.rounded {
  border-radius: 10px;
}
.float-r {
  float: right;
}
.float-l {
  float: left;
}

@media screen and (max-width: 450px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .page-2-cards {
    display: block;
  }
  .stats {
    display: none;
  }
  .hero-h {
    font-size: 2rem;
    transform: translateY(-100%);
  }
  .hero-p {
    font-size: 1rem;
  }
  .page-3 {
    display: block;
  }
  .prize-container {
    display: block;
  }
  .prize-1 {
    float: right;
  }
  .other-info-page-3 {
    display: flex;
    flex-direction: column;
  }

  .social-txt {
    display: none;
  }
  .rank {
    font-size: 1rem;
  }
  .money {
    font-size: 2rem;
  }

  .page-4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .desc {
    font-size: 1rem;
  }
  .content-info-desc-page-3 {
    padding: 1rem;
  }
  .vic-icon {
    display: none;
  }

  .dashboard {
    flex-direction: column;
  }
  .side-nav {
    border: none;
    padding: 0 auto;
  }
  .db-links {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  }
  .ruready-margin {
    margin: 0px;
  }
  .ruready-desc-margin {
    margin-top: 0.3125rem;
  }
}
